# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

# Ignore aws-ops-insight
aws-ops-insight/

# Ignore AWS credentials
account_id
chuck-IAM-keypair.pem
credentials.csv

# Ignore Chef stuff
.chef/
.rake_test_cache
.chef/*.pem
.chef/encrypted_data_bag_secret
.coverage
.bundle
.kitchen
.kitchen.local.yml
.vagrant
.ruby-gemset
Berksfile.lock
kafka-cookbook-*.tar.gz
/**/vendor/**/bundle/
/pkg
TODO.md
terraform.tfstate**
.envrc
.aws.json
*.plan
*.lock
